

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background:  #b6fbff;
}
span{
    color: white;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 15px;
    width: 50%;
    background: rgb(106, 195, 227);
    border-radius: 5px;
    text-align: center;
}

.gender_name{
    width: 1.3em;
    height:1.3em;
    background-color:white;
border-radius:100%;
outline:none;
cursor: pointer;
}
.gender_name:checked{
    background-color: green;
}

input{
    outline: none;
    border: none;
    padding: 5px;
}
button{
    color: white;
    padding: 10px;
    border: 2px solid white;
    background: rgb(27, 139, 199);
    display: block;
    margin-top: 10%;
    cursor: pointer;
    
}
